.content04 {
    position:relative;
    height:100vh;
    .content04-iphone-img {
        position:absolute;
        z-index:200;
        left:50%;
        top:50%;
        transform: translate(-50%, -50%);
    }

    .content04-figure1-img {
        position:absolute;
        left:0px;
        z-index:-100;
    }

    .content04-figure2-img {
        z-index:-100;
        right:0px;
        position:absolute;
        bottom:0;
    }
}